<!-- About Section -->
<!-- I am thinking that this can become a timeline for the 2019-2020 Academic year once we sign up for events? It could also be a history of the club,
if we can gather enough information. -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Colby Hackers is a group that is dedicated to promoting interest in CS at Colby. We organize/attend hackathons, work on cool projects, and discuss/cultivate professional development skills pertinent to the field.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016</h4>
                                    <h4 class="subheading">The Beginning</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Colby Hackers was founded in 2016 by Dan Vogel '16.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016-2019</h4>
                                    <h4 class="subheading">Hackathons, Hackathons, Hackathons.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Over the years, the Hackers have hosted and attended countless Hackathons and have done a great job representing the computer science community at Colby.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2019</h4>
                                    <h4 class="subheading">Structural Reform</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">While interest in the Colby Hackers' purpose and activities remained relatively strong, constantly changing leadership without any real structure made it difficult to stay organized. Leadership positions have been established and the formal process for transferring leadership that the Student Government Association promotes has been adopted.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
